*{
    margin:0;
    padding: 0;
}


.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
header{
    max-width: 1600px;
    max-height: 766px;
}
header nav{
  max-width: 1600px;
  background: rgba(251, 251, 251, 1);
}
.menu-bar{
    display: flex;
  
align-items: center;
}
.menu-bar .logo{
max-width: 139px;
height: 60px;
align-items: center;
margin-top: 16px;
margin-bottom: 16px;
margin-left: 120px;
}
.menu-bar ul{
    max-width: 365px;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 34px 346px;
   align-items: center;
}
.menu-bar ul li{
   margin-right: 32px;
   text-align: center;
   max-width: 132px;
}
.menu-bar .btn button {
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 12.5px 16px;
}
.banner-section{
    max-width: 1600px;
    height: 674px;
    background-image: url("/assets/hero-bg.png");
   text-align: center;
}
 .banner-heading{
    padding: 115px 120px 32px 120px;

}
.banner-heading .heading-btn {
    max-width: 229px;
    margin: 0 auto;
    justify-content: center;
}

.banner-heading .heading-btn button {
    height: 30px;
    padding: 6px 14px;
    border-radius: 999px;
    border:1px solid #cfe8db;
    background-color:#f3f8f6;
    color:#2f7d57;
    font-size: 14px;
}
.banner-heading .heading{
    width: 770px;
    height: 168px;
    align-items: center;
    text-align: center;
    margin: 16px auto;

}
.heading-1 {
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: white;
}
.heading-2{
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: #30B868;
    font-weight: bold;
}
.para{
    max-width: 1360px;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin: 16px auto 32px auto;
    color: #FFFFFF;
}
.banner-btn{
    max-width: 465px;
    height: 52px;
    margin: 0 auto;
    align-items: center;
}
.btn-1{
    max-width: 251px;
    height: 52px;
    margin-top: 32px;
    margin-right: 15px;
    padding: 12px 16px 12px 16px;
     font-weight: 600;
     background-color: #30B868;
     line-height: 19px;
     border: none;
     border-radius: 5px;
}
.btn-2{
    max-width: 198px;
    height: 52px;
     margin-top: 32px;
    padding: 12px 16px 12px 16px;
     font-weight: 600;
     border: 1px solid #FFFFFF;
      border-radius: 4px;
      background-color: transparent;
      color:#FFFFFF;
    
   
}
.card-section{
   width: 1600px;
    height: 448px;
    margin: 0 auto;
    background-color: #FFFFFF;
  
  
}
.card-header{
    text-align: center;
width:1360px ;
 height: 152px;
 margin: 0 auto;
 padding-top: 40px;
}
.card-header h2{
  text-align: center;
 max-width:1360px ;
 height: 116px;
 margin: 0 auto;
 font-size: 48px;
font-weight: 700;
margin-bottom: 36px;
color: #001931;
}
.card-header p{
    width: 1360px;
    height: 20px;
    margin-top: 16px;
    text-align: center;
    font-weight: 400;
line-height: 20px;
color: #627382;
margin-bottom: 44px;

}
.card-container{
    max-width: 1360px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    gap:24px

   
}
.card{
    margin: 45px auto 48px auto;
   width: 322px;
    height: 300px;
    justify-content: center;
   align-items: center;

   text-align: center;
   box-shadow: 0px 0px 8px 0px #000000;
   border: none;
   border-radius: 5px;


}
.card .card-icon{
    width: 32px;
    height:32px;
    background-color: #F95555;
    padding: 14px 14px 14px 14px;
    border-radius: 999px;
    justify-content: center;
    margin: 70px auto 16px;
    
}
.card .card-head h3{
    width: 274px;
    height: 29px;
font-size: 24px;
font-weight: 600;
line-height: 29px;
text-align: center;
margin: 0 auto ;
color: #001931;

}
.card-text{
    width: 274px;
    height: 40px;
    line-height: 20px;
    margin: 25px 24px 21px 24px;
    line-height: 20px;
    color: #627382;
}
.second-brain{
   max-width:1600px;
height: 840px;
padding: 120px;
display: flex;
align-items: center;

}
.second-brain-container{
max-width: 1360px;
height: 600px;
display: flex;

}
.second-brain.second-brain-container .image{
    width: 600px;
height: 600px;
border-radius:10px;
margin-right:60px ;

}
.second-brain-header .small{
color: #30B868;
width: 700px;
height: 20px;
margin-left: 60px;
line-height: 20px;
text-align: left;

}
.second-brain-header .large{
    width: 700px;
    height: 117px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin: 16px auto;
    margin-left: 60px;

}
.paragraph{
    width: 700px;
    height: 49px;
    color: #627382;
    margin-left: 60px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.icon-container{
 width: 700px;
height: 128px;
 margin-top: 40px;
display: flex;
flex-direction: column;
gap: 16px;
}

   .icon-item {
width:700px ;
height: 20px;
display: flex;
flex-direction:row;
}

 .ic{
    
width: 20px;
height: 20px;
margin-left: 60px;
margin-bottom: 16px ;
} 
.icon-item p{
width: 700px;
height: 20px;
line-height: 20px;
color: #001931;
text-align: left;
margin-bottom: 16px ;
}




